.recipe-header {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .recipe-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .container {
    background-color: #f5f3e6;
  }

  .card {
    margin-bottom: 1rem;
  }